@import url('../../common.css');

.markdown-transform-html {
  font-size: 15px;
  color: var(--markdown-primary-color);

  h2 {
    position: relative;
    margin-top: 20px;
  }

  p {
    margin-top: 8px;
  }

  ol,
  ul {
    margin-top: 10px;
  }
}
