@import './iconfont.colors.css';

:root {
  --A4_width: 794px;
  --A4_height: 1123px;
  --super-link: #4572e3;
}
.markdown-transform-html {
  width: var(--A4_width);
  font-size: 14px;
  word-break: break-all;
  padding: 30px 40px;
  margin: 0 auto;
  background: #fff;
  z-index: 2;
  position: relative;
  overflow: hidden;
  color: var(--markdown-primary-color);
}

.markdown-transform-html img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* 头像大小 */
.markdown-transform-html img[alt*='个人头像'] {
  width: 26mm;
  height: 32mm;
  position: relative;
  object-fit: cover;
}

.markdown-transform-html a {
  color: var(--super-link);
}

.markdown-transform-html :where(li, h3, h4) {
  margin-top: 5px;
}

.markdown-transform-html h1 {
  font-size: 25px;
  line-height: 30px;
}

.markdown-transform-html h2 {
  margin-top: 10px;
  line-height: 25px;
}

.markdown-transform-html h3 {
  font-size: 17px;
  line-height: 25px;
}

.markdown-transform-html h4 {
  font-size: 15px;
}

.markdown-transform-html h5 {
  font-size: 13px;
}

.markdown-transform-html h6 {
  font-size: 12px;
}

.markdown-transform-html .iconfont {
  font-size: 20px;
  margin-right: 4px;
}
.markdown-transform-html :where(ul, ol) {
  padding-left: 20px;
}

.markdown-transform-html .flex-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.markdown-transform-html table tbody td:nth-child(1) {
  border-left: 1px solid #eee;
}

.markdown-transform-html table thead {
  background-color: #d9dfe7;
}

.markdown-transform-html table :where(thead th, tbody td) {
  padding: 10px;
}

.markdown-transform-html table tbody td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.markdown-transform-html blockquote {
  position: relative;
  margin: 0;
  font-size: 14px;
  padding: 8px 15px;
  margin: 12px 0;
}

.markdown-transform-html blockquote::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.1;
  background: var(--markdown-primary-bg-color);
}

.markdown-transform-html blockquote::before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  background: var(--markdown-primary-bg-color);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
}

/* 单个代码块`code` */
.markdown-transform-html code.single-code {
  color: var(--markdown-primary-bg-color);
  padding: 2px 8px;
  line-height: 18px;
  background: transparent;
  position: relative;
  border-radius: 5px;
  font-size: 13px;
}

.single-code::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  background: var(--markdown-primary-bg-color);
  z-index: 0;
  opacity: 0.07;
}

.jufe-wrapper-page {
  height: var(--A4_height);
  width: var(--A4_width);
  margin: 0 auto 10px auto;
  background: white;
  position: relative;
}

.jufe-wrapper-page-item {
  width: var(--A4_width);
  overflow: hidden;
  position: relative;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }
}
