.markdown-transform-html {
  width: 210mm;
  font-size: 14px;
  padding: 20px 30px;
  margin: 0 auto;
  background: #fff;
  color: var(--markdown-primary-color);
}

.markdown-transform-html code.single-code {
  display: inline-block;
  margin-bottom: 5px;
}

/* 头像大小 */
.markdown-transform-html img {
  width: 100px;
  height: 120px;
  z-index: 9;
  position: relative;
}

.markdown-transform-html .head-layout .flex-layout {
  align-items: center;
}

.markdown-transform-html table tbody td:nth-child(1) {
  border-left: 1px solid #eee;
}

.markdown-transform-html table thead {
  background-color: rgb(217, 223, 231);
}

.markdown-transform-html table thead th,
.markdown-transform-html table tbody td {
  padding: 10px;
}

.markdown-transform-html table tbody td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.markdown-transform-html blockquote {
  background: #eee;
  position: relative;
  margin: 0;
  padding: 5px 15px;
}

.markdown-transform-html blockquote::before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  background: #ccc;
  height: 100%;
  left: 0;
  top: 0;
}

/* 单个代码块`code` */
.markdown-transform-html code.single-code {
  color: #567;
  padding: 3px 7px;
  font-size: .85rem;
  background: #eee;
  margin-right: 2px;
}

.markdown-transform-html .flex-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  .other-ele {
    display: none;
  }

  .pdf-title {
    display: block;
  }

  .panel-sm {
    margin: 0;
    border: 1px solid #bce8f1;
  }
}