@import url("../icon/iconfont.css");

@font-face {
  font-family: "思源黑体 ExtraLight";
  font-weight: 250;
  src: url("../font/songti.ttf") format("ttf"),
    url("../font/songti.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "思源宋体 ExtraLight";
  font-weight: 250;
  src: url("//at.alicdn.com/wf/webfont/lx6rbR5SOYM7/wrBcSmKA8x34CTSOHApKt.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/lx6rbR5SOYM7/hd-6TFKTDb2Aj4l-3QMM2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "阿里巴巴普惠体 2.0 65 Medium";
  font-weight: 300;
  src: url("//at.alicdn.com/wf/webfont/lx6rbR5SOYM7/VHscMj-Fr6xVEN337c9yc.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/lx6rbR5SOYM7/f1-RmlZzfYp6hqBap7aIv.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Menlo";
  src: url("../font/Menlo-Regular.ttf") format("ttf"),
    url("../font/monaco.ttf") format("ttf");
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  .other-ele {
    display: none;
  }

  .pdf-title {
    display: block;
  }

  .panel-sm {
    margin: 0;
    border: 1px solid #bce8f1;
  }
}