@font-face {
  font-family: "iconfont"; /* Project id 3737803 */
  src: url('iconfont.woff2?t=1670316308725') format('woff2'),
       url('iconfont.woff?t=1670316308725') format('woff'),
       url('iconfont.ttf?t=1670316308725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-level-3:before {
  content: "\e61e";
}

.icon-level-6:before {
  content: "\e61f";
}

.icon-qrcode:before {
  content: "\e7dd";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-collection_fill:before {
  content: "\e6ea";
}

.icon-alipay:before {
  content: "\e668";
}

.icon-font:before {
  content: "\e621";
}

.icon-moneybag-fill:before {
  content: "\e7ce";
}

.icon-level-2:before {
  content: "\e61a";
}

.icon-level-4:before {
  content: "\e61b";
}

.icon-level-5:before {
  content: "\e61c";
}

.icon-level-1:before {
  content: "\e61d";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-image:before {
  content: "\e7de";
}

.icon-edit:before {
  content: "\e649";
}

.icon-emoji:before {
  content: "\e64a";
}

.icon-comment-fill:before {
  content: "\e666";
}

.icon-comment:before {
  content: "\e667";
}

.icon-delete:before {
  content: "\e6b5";
}

.icon-share:before {
  content: "\e6f3";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-reply:before {
  content: "\e705";
}

.icon-like-fill:before {
  content: "\e707";
}

.icon-like1:before {
  content: "\e708";
}

.icon-moon:before {
  content: "\e654";
}

.icon-browse:before {
  content: "\e745";
}

.icon-hot:before {
  content: "\e753";
}

.icon-message1:before {
  content: "\e675";
}

.icon-shine:before {
  content: "\ecda";
}

.icon-card:before {
  content: "\e6b4";
}

.icon-head:before {
  content: "\e609";
}

.icon-work:before {
  content: "\e6fc";
}

.icon-practice:before {
  content: "\e60b";
}

.icon-organization:before {
  content: "\e60f";
}

.icon-trophy:before {
  content: "\e70d";
}

.icon-book:before {
  content: "\e862";
}

.icon-city:before {
  content: "\e687";
}

.icon-home:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e6b6";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-tencent:before {
  content: "\e620";
}

.icon-wechat:before {
  content: "\e619";
}

.icon-message:before {
  content: "\e6df";
}

.icon-template:before {
  content: "\e768";
}

.icon-bytedance:before {
  content: "\e682";
}

.icon-Exit:before {
  content: "\e60c";
}

.icon-douyin:before {
  content: "\e673";
}

.icon-application:before {
  content: "\e9f9";
}

.icon-alibaba:before {
  content: "\e94e";
}

.icon-problem:before {
  content: "\e679";
}

.icon-phone:before {
  content: "\e69e";
}

.icon-project:before {
  content: "\e798";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-technology:before {
  content: "\e66b";
}

.icon-profile:before {
  content: "\e643";
}

.icon-yuque:before {
  content: "\e713";
}

.icon-product:before {
  content: "\e788";
}

.icon-gitee:before {
  content: "\e686";
}

.icon-github:before {
  content: "\e8c6";
}

.icon-school:before {
  content: "\eced";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-email:before {
  content: "\e712";
}

