.writable-edit-mode {
  background: var(--background);
  .flex-layout {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 6px 0;
    align-items: center;

    img[alt*='个人头像'] {
      width: 30mm;
      height: 30mm;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .flex-layout-item {
      margin-right: 20px;
      flex: 1;
    }
  }
  // 只有是两列布局的时候才起作用
  & > .flex-layout {
    align-items: flex-start;
  }
  ul,
  ol {
    padding-left: 20px;
  }
  li,
  p {
    margin-top: 8px;
  }
  h2,
  h3,
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  i {
    font-size: 1.3rem;
    margin-right: 8px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  a {
    color: var(--super-link);
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .head-layout {
    border: 1px dashed var(--font-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;

    &::before {
      position: absolute;
      top: -15px;
      right: 50%;
      transform: translateX(50%);
      content: '个人信息区域';
      white-space: nowrap;
      font-size: 15px;
      background: var(--font-color);
      border-radius: 10px;
      color: var(--background);
      padding: 5px 10px;
    }
  }

  table {
    width: 100%;
    text-align: center;
    tbody td:nth-child(1) {
      border-left: 1px solid #eee;
    }
    thead {
      color: #f8f8f8;
      background-color: #b2c9d6;
    }
    thead th,
    tbody td {
      padding: 10px;
    }
    tbody td {
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }

  code.single-code {
    color: var(--font-color);
    padding: 3px 10px;
    background: transparent;
    position: relative;
    border: 0.5px solid var(--font-color);
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      background: var(--background);
      z-index: -1;
      opacity: 0.1;
    }
  }

  blockquote {
    position: relative;
    margin: 0;
    font-size: 14px;
    padding: 8px 15px;
    margin: 12px 0;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    &::after {
      width: 100%;
      opacity: 0.1;
      background: #b2c9d6;
    }
    &::before {
      position: absolute;
      width: 5px;
      background: #b2c9d6;
      opacity: 0.3;
    }
  }
}
