@import url('../../common.css');

.markdown-transform-html {
  font-size: 14px;

  h2 {
    margin: 10px 0;
    font-size: 17px;
    padding-bottom: 3px;
    color: var(--markdown-primary-color);
    border-bottom: 1px solid var(--markdown-primary-color);
  }
  li {
    margin-top: 2px;
  }
}
