@import url('../../common.css');

.markdown-transform-html {
  h2 {
    margin-top: 10px;
    font-size: 17px;
    padding-bottom: 3px;
    color: var(--markdown-primary-bg-color);
    border-bottom: 1px solid var(--markdown-primary-bg-color);
  }
  li {
    margin-top: 2px;
  }
}
