@import url('../../common.css');

.markdown-transform-html {
  padding: 20px 30px;
  .head-layout {
    margin-bottom: -10px;
    .flex-layout {
      position: relative;
      top: -10px;
      .flex-layout-item {
        &:first-child {
          padding-right: 8px;
          img[alt*='个人头像'] {
            height: 27mm;
            width: 27mm;
            transform: translateY(2.5px);
          }
        }
        &:last-child {
          padding: 5px;
          flex: 1;
          background: var(--markdown-primary-bg-color);
          position: relative;
        }
      }
      &:last-child {
        h1,
        h2,
        h3 {
          font-weight: 400;
          margin-left: 30px;
        }
      }
    }
  }

  h2 {
    margin-top: 20px;
    border-radius: 2px 0 0 2px;
  }
  .resume-module > h2 {
    background: var(--markdown-primary-color);
    color: #f8f8f8;
    padding: 5px 15px;
    display: inline-block;
    font-size: 1rem;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      right: -1rem;
      top: 0;
      z-index: -1;
      width: 0;
      height: 0;
      border-left: 1rem solid transparent; /* 左边斜边，根据需求调整长度 */
      border-right: 1rem solid transparent; /* 右边斜边，根据需求调整长度 */
      border-bottom: 2.2rem solid var(--markdown-primary-color);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: calc(794px - 60px);
      height: 1px;
      opacity: 0.5;
      left: 0;
      background: var(--markdown-primary-color);
    }
  }
  i.iconfont {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  a {
    color: var(--super-link);
    border-bottom: 1px solid var(--super-link);
    text-decoration: none;
  }
  h3 {
    margin: 10px 0;
  }
  ul,
  ol {
    margin-top: 10px;
    padding-left: 20px;
  }
  p,
  li {
    margin-top: 8px;
  }
}
