@import url('../../common.css');

.markdown-transform-html {
  color: var(--markdown-primary-color);
  padding: 20px 30px;
  h1,
  h2 {
    margin-top: 10px;
    color: var(--markdown-primary-bg-color);
  }

  h2 {
    font-size: 20px;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      width: calc(210mm - 100% - 100px);
      top: 50%;
      left: calc(100% + 20px);
      border-top: 1px solid var(--markdown-primary-bg-color);
    }
  }

  h3,
  h4 {
    font-size: 16px;
    margin-top: 6px;
  }

  h5,
  h6,
  strong,
  b {
    font-size: 14px;
  }

  .iconfont {
    margin-right: 0.2em;
    font-size: 1.1rem;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-top: 5px;
  }

  ul {
    li {
      list-style: square;
    }
  }

  strong,
  b {
    a {
      display: block;
      margin-top: 8px;
    }
  }

  &::after {
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
  }

  .main-layout {
    padding: 10px;
  }

  .head-layout {
    position: relative;
    padding: 20px 20px 30px 10px;
    color: white !important;

    h1,
    h2 {
      border-bottom: none;
      color: white !important;
    }

    &::after {
      content: '';
      position: absolute;
      background: var(--markdown-primary-bg-color);
      width: 794px;
      height: calc(100% + 30px);
      z-index: -1;
      top: -30px;
      left: -30px;
    }

    a {
      text-decoration: none;
      color: white !important;
    }
  }

  li,
  p {
    margin-top: 6px;
  }
}
