@import url('../../common.css');

.markdown-transform-html {
  color: var(--markdown-primary-color);
  h1,
  h2 {
    margin-top: 10px;
    padding-bottom: 2px;
    color: var(--markdown-primary-bg-color);
    border-bottom: 1px solid var(--markdown-primary-bg-color);
  }

  h2 {
    font-size: 18px;
  }

  h3,
  h4 {
    font-size: 16px;
  }

  h5,
  h6,
  strong,
  b {
    font-size: 14px;
  }

  a {
    color: var(--markdown-primary-color);
    text-decoration: none;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-top: 4px;
  }

  ul {
    li {
      list-style: square;
    }
    & + ol {
      margin-top: 5px;
      padding-left: 35px;
    }
  }

  .flex-layout {
    margin-top: 5px;
  }
}
