@import url('../common.css');

$bg: #232323;
.jufe-wrapper-page {
  box-shadow: 0px 0px 10px #000;
  background: $bg;
  .jufe-wrapper-page-item {
    background: $bg;
  }
}
.markdown-transform-html {
  font-size: 16px;
  background: $bg;
  color: var(--markdown-primary-color);

  i.iconfont {
    font-size: 18px;
    display: inline-block;
    margin: 8px 10px 0 0;
  }
  h2 {
    border-left: 5px solid var(--markdown-primary-bg-color);
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 10px;
    color: var(--markdown-primary-bg-color);

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background: var(--markdown-primary-bg-color);
      opacity: 0.1;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }

  & > .flex-layout {
    margin: 10px 0;
  }

  ul,
  ol {
    margin-top: 10px;
    padding-left: 20px;
  }

  ul {
    li {
      &::marker {
        color: var(--markdown-primary-bg-color);
      }
    }
  }

  ol {
    li {
      &::marker {
        color: #999;
      }
    }
  }

  h3,
  h4,
  strong,
  b {
    color: var(--markdown-primary-bg-color);
  }

  code.single-code {
    color: white;
    padding: 5px 10px;
    background: transparent;
    position: relative;
    border: 0.5px solid var(--markdown-primary-bg-color);
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      border: 1px solid var(--markdown-primary-bg-color);
      background: var(--markdown-primary-bg-color);
      z-index: -1;
      opacity: 0.1;
    }
  }

  .head-layout {
    img[alt*='个人头像'] {
      display: inline-block;
      width: 20mm;
      height: 20mm;
      border-radius: 50%;
      border: 2px solid var(--markdown-primary-bg-color);
    }
    h1,
    h2 {
      color: var(--markdown-primary-bg-color);
    }
    h2 {
      border-left: none;
      &::after {
        position: static;
      }
    }
    .flex-layout {
      &:first-of-type {
        h3 {
          color: var(--markdown-primary-color);
          margin-top: 5px;
          text-align: center;
        }
      }
    }
  }
  a {
    color: var(--markdown-primary-bg-color);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--markdown-primary-bg-color);
    text-decoration: none;
  }
  p,
  li {
    margin-top: 10px;
  }

  thead {
    color: #000;
  }
}
