@import url('../../common.css');

.markdown-transform-html {
  padding: 30px 50px;
  font-weight: 500;

  .head-layout {
    padding-top: 30px;
    text-align: center;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 800;
    color: var(--markdown-primary-bg-color);
  }
  h2 {
    font-size: 18px;
    border-bottom: 2px solid var(--markdown-primary-bg-color);
  }

  p {
    i:not(.iconfont) {
      font-size: 15px;
    }
  }
}
