@import url('../common.css');

.markdown-transform-html {
  padding-top: 0;
  font-size: 15px;
  color: var(--markdown-primary-color);

  i.iconfont {
    margin-right: 10px;
  }

  h2 {
    color: var(--markdown-primary-bg-color) !important;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 3px;

    i.iconfont {
      font-size: 1.2rem;
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  .head-layout {
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      width: 32mm;
      border-radius: 50%;
      margin-top: 60px;
      margin-bottom: 10px;
    }

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      width: 220mm;
      height: 100mm;
      border-radius: 50%;
      top: -58mm;
      background: var(--markdown-primary-bg-color);
    }

    &::after {
      content: 'OOOOOOO                                       OOOOOOO';
      white-space: pre;
      letter-spacing: 5px;
      z-index: -1;
      position: absolute;
      width: 50mm;
      left: 20mm;
      top: 30px;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      // border-bottom:10px dotted var(--markdown-primary-color);
      opacity: 0.7;
    }
  }

  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    & + ol {
      padding-left: 30px;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin-top: 8px;
  }
}
