@import url("../common.css");

.markdown-transform-html {
  color: var(--markdown-primary-color);

  h1,
  h2 {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;

    i.iconfont {
      font-size: 1.3rem;
    }
  }

  h3,
  h4 {
    font-size: 16px;
    margin-top: 6px;
  }

  h5,
  h6,
  strong {
    font-size: 14px;
  }

  .iconfont {
    margin-right: .2em;
    font-size: 1.1rem;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    li {
      list-style: square;
    }
  }

  strong {
    a {
      display: block;
      margin-top: 8px;
    }
  }

  &::after,
  .head-layout::after,
  .head-layout::before {
    content: "";
    position: absolute;
    background: var(--markdown-primary-bg-color);
  }

  &::after {
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
  }

  .head-layout {
    z-index: 9;
    background: var(--markdown-primary-bg-color);
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white !important;

    &::after {
      width: 41px;
      height: 100%;
      left: -30px;
      top: 0;
    }

    &::before {
      width: 41px;
      height: 100%;
      right: -31px;
      top: 0;
    }

    a {
      text-decoration: none;
      color: white !important;
    }
  }

  p {
    margin-top: 8px;
  }
}