@import url('../../common.css');

.markdown-transform-html {
  h2 {
    font-size: 16px;
    padding-bottom: 3px;
    color: var(--markdown-primary-bg-color);
    position: relative;

    &::after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: var(--markdown-primary-bg-color);
      opacity: 0.5;
    }
    // #600BF7
  }

  p,
  ul,
  li {
    margin-top: 4px;
  }
  .head-layout {
    padding-top: 20px;
    h1 {
      color: var(--markdown-primary-bg-color);
      font-size: 18px;
    }
    text-align: center;
  }
}
