@import url("@/assets/icon/iconfont.css");

@font-face {
  font-family: "Menlo-Regular";
  src: url("../assets/font/Menlo-Regular.ttf") format("ttf"),
    url("../assets/font/monaco.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "方正GDC体";
  src: url("../assets/font/方正GDC体.ttf") format("ttf");
}

@font-face {
  font-family: "仓耳渔阳体 W02";
  src: url("../assets/font/仓耳渔阳体W02.woff2") format("woff2"),
    url("../assets/font/仓耳渔阳体W02.woff") format("woff");
  font-display: swap;
}

:root {
  --theme: #4693ff;
  // --theme: #996be4;
  --bg-theme: #444;
}

.btn {
  border: none;
  outline: none;
  padding: 5px 5px;
}

.nav {
  flex: 1;
  display: flex;
  margin-left: 50px;

  li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;

    a {
      color: #555;
      text-decoration: none;
    }
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tac {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-space-around {
  justify-content: space-around;
}
.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.checked {
  color: var(--theme);
  position: relative;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 60%;
    left: 0;
    background-color: var(--theme);
    border-radius: 3px;
  }

  a {
    color: var(--theme) !important;
  }
}

.iconfont.nav-icon {
  margin-right: 5px;
  font-size: 1.1rem;
}

#header {
  white-space: nowrap;
  z-index: 9;
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  cursor: pointer;
  transition: transform .5s;

  &:hover {
    will-change: transform;
    transform: scale(1.2) !important;
  }
}

.hover {
  &:hover {
    opacity: .5;
  }
}

.content-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.none {
  list-style: none;
}

.primary,
.plain {
  color: white;
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.primary {
  color: white;
  background: var(--theme);
}

.plain {
  color: #333;
  background: #f3f5f7;
}

.list-style-init {
  list-style: none;

  li {
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      opacity: .7;
    }
  }
}

.clicked {
  color: var(--theme) !important;
}

.no-wrap {
  white-space: nowrap;
}

.line-4 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.line-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.slide-title {
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 5px;
    width: 20px;
    background: var(--theme);
    bottom: -5px;
    border-radius: 5px;
  }
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.covers-container {
  margin-top: 10px;

  .cover-item {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 46%;
  }

  100% {
    background-position: 0% 100%;
  }
}
.linear-color-btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 5px;
  /* background: var(--theme); */
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #8170ff 100%);
  background-size: 400%;
  color: white;
  cursor: pointer;
  animation: move 6s linear infinite;
  transition: transform .5s;

  &:hover {
    opacity: .8;
    transform: scale(0.9);
  }
}